.availability_root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px ;
}
.active{
    display:none;
}
.title_pageHome h3{
    margin-left: 30px 30px !important;
}
@media only screen and (max-width: 768px){
    .title_pageHome{
        margin-left: 0;
    }
}